<div>
    <div class="d-flex justify-content-center">
        <input class="form-control  w-50 mt-3" placeholder="Search Product" [(ngModel)]="searchData" (keyup)="accessData($event)" type="text">
      </div>
    <div class="text-end"><a routerLink="admin-login"  class="btn btn-outline-dark mt-2">Login As Admin</a></div>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div *ngFor="let i of allproducts | search:searchData:'pname' " class=" col mb-4 border-0">
                <div class="card h-100">
                    <!-- Product image-->
                    <img style="height: 200px;" class="card-img-top" src="{{i.image}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body  p-2">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{i.pname}}</h5>
                            <!-- Product price-->
                           <h5>{{i.price}}Rs</h5>
                           <p>{{i.description}}</p>
                           <p>count:{{i.count}}</p>
                           <p>Rating:{{i.rating}}</p>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                        <a class="btn btn-outline-danger mt-auto" routerLink="single/{{i._id}}">View product</a></div>
                    </div>
                </div>
            </div>
</div>
</div>
</div>
